# Experiment 1 (The red/blue/green/yellow house)

In [10]:
import sys
import os

# Get the absolute path of the parent directory.
parent_dir = os.path.abspath(os.path.join(os.path.dirname("__file__"), ".."))

# Add the parent directory to the system path to be able to import modules from 'lib.'
sys.path.append(parent_dir)

In [11]:
from IPython.display import  Markdown as md
import itertools
import math
import matplotlib
import matplotlib.pyplot as plt
import numpy
import numpy as np
import random

import pandas as pd
import pathlib

from lib.memory.DSDM import DSDM
from lib.utils.preprocess import preprocess_text
from lib.utils.utils import generate_atomic_HVs_from_tokens_and_add_them_to_cleanup, generate_chunk_representations_and_save_them_to_memory, fix_seed, load_data, infer, online_learning_with_inference


import torch
import torchhd as thd
from torch.autograd import Variable
import torch.nn as nn
import torch.nn.functional as F 

# Type checking
from typing import List

In [12]:
#from IPython.display import display, HTML
#display(HTML("<style>.container { width:50% !important; }</style>"))

In [35]:
from ipywidgets import HBox, Output

x = pd.DataFrame([{'a': 1}])
x.to_html().replace("dataframe", "inlineTable")

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>a</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n    </tr>\n  </tbody>\n</table>'

In [4]:
# Set experiment number.
experiment_number = 1

# Fix seed.
fix_seed()

# Set device.
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

dim = 2000 # Vector dimension

cleanup = {} # Cleanup memory for saving atomic HVs

initial_trainig_data_path = "../data/experiment-1/initial_training_data.txt"
trainig_data_path = "../data/experiment-1/data.txt"

[ Using Seed :  42  ]

In [5]:
# DSDM hyperparameters
address_size = dim
ema_time_period = 5000  # No. of days in the EMA, i.e., maximum number of save operations to be performed.
learning_rate_update = 0.1
temperature = 0.2

# Create DSDM instances.
memory_unnormalized = DSDM(address_size=address_size, ema_time_period=ema_time_period, learning_rate_update=learning_rate_update, temperature=temperature)
memory_normalized = DSDM(address_size=address_size, ema_time_period=ema_time_period, learning_rate_update=learning_rate_update, temperature=temperature, normalize=True)

memories = {"normalized": memory_normalized, "unnormalized": memory_unnormalized}

In [6]:
# Load initial training data.
lines_raw = load_data(initial_trainig_data_path)

# Preprocess initial training data. 
lines_tokens = []
for line_raw in lines_raw:
    # Account for empty lines.
    if line_raw.rstrip():
        lines_tokens.append(preprocess_text(line_raw))

# Flush cleanup memory.
cleanup = {}

# Define chunk lengths
chunk_lengths = [1, 2, 3]

# Train memories with initial training data.
for sentence_tokens in lines_tokens:
    generate_atomic_HVs_from_tokens_and_add_them_to_cleanup(dim, cleanup, sentence_tokens)
    for _, memory in memories.items():
        # Construct the chunks of each sentence and save them to each memory.
        generate_chunk_representations_and_save_them_to_memory(dim, cleanup, memory, sentence_tokens, chunk_lengths=[1, 2, 3])

### Inference

In [7]:
inference_sentences = ["The red house.", "The house.", "House.", "The purple house."]
tokens_to_keep_track_of = ['red']

# Get index to get the similarities of the tokens we keep track of for current epoch.
index = list(itertools.product(inference_sentences, tokens_to_keep_track_of))

In [8]:
# Construct dataframes for keeping track of token similarities.
tracked_tokens_sims_dfs = {}
for memory_type, memory in memories.items():
    tracked_tokens_sims_dfs[memory_type] = infer(dim, cleanup, memory, inference_sentences).loc[index]

# Online training.
online_learning_with_inference(experiment_number,
                               dim,
                               cleanup,
                               memories,
                               inference_sentences,
                               index,
                               tracked_tokens_sims_dfs,
                               chunk_lengths)

 <ins>Normalized</ins>

epoch: 0

                          similarity
sentence          token
The red house.    red       0.738053
                  the       0.471178
                  house     0.462160
                  blue      0.061105
                  purple    0.028926
                  green    -0.009104
The purple house. the       0.604550
                  house     0.557373
                  red       0.503960
                  blue      0.203475
                  green     0.135177
                  purple    0.031066
The house.        the       0.586857
                  house     0.582263
                  red       0.496501
                  blue      0.198324
                  green     0.141308
                  purple    0.029992
House.            house     0.901664
                  red       0.278354
                  blue      0.236242
                  green     0.184747
                  the       0.114681
                  purple    0.008889

 <ins>Unnormalized</ins>

epoch: 0

                          similarity
sentence          token
The red house.    the       0.582949
                  house     0.575664
                  red       0.545368
                  blue      0.126312
                  green     0.056021
                  purple    0.031191
The purple house. the       0.660221
                  house     0.639569
                  blue      0.258861
                  red       0.221317
                  green     0.199064
                  purple    0.029908
The house.        the       0.654995
                  house     0.653632
                  blue      0.243155
                  green     0.206819
                  red       0.205563
                  purple    0.028913
House.            house     0.935929
                  the       0.191678
                  blue      0.191460
                  red       0.158995
                  green     0.153462
                  purple    0.010651

 <ins>Normalized</ins>

epoch: 1

                          similarity
sentence          token
The red house.    red       0.751916
                  the       0.460181
                  house     0.451297
                  blue      0.055597
                  purple    0.028654
                  green    -0.014865
The purple house. the       0.587912
                  red       0.547347
                  house     0.545169
                  blue      0.182153
                  green     0.112849
                  purple    0.030990
The house.        the       0.572713
                  house     0.567614
                  red       0.540308
                  blue      0.177878
                  green     0.118532
                  purple    0.030053
House.            house     0.896357
                  red       0.300315
                  blue      0.227752
                  green     0.175113
                  the       0.128832
                  purple    0.009762

 <ins>Unnormalized</ins>

epoch: 1

                          similarity
sentence          token
The red house.    the       0.581240
                  house     0.573899
                  red       0.548912
                  blue      0.126554
                  green     0.056017
                  purple    0.031162
The purple house. the       0.659748
                  house     0.639084
                  blue      0.257162
                  red       0.226750
                  green     0.197643
                  purple    0.029945
The house.        the       0.654535
                  house     0.653197
                  blue      0.242107
                  red       0.210151
                  green     0.205756
                  purple    0.028948
House.            house     0.934197
                  the       0.194157
                  blue      0.191725
                  red       0.164987
                  green     0.153511
                  purple    0.010814

 <ins>Normalized</ins>

epoch: 2

                          similarity
sentence          token
The red house.    red       0.760792
                  the       0.452868
                  house     0.444069
                  blue      0.051946
                  purple    0.028469
                  green    -0.018660
The purple house. red       0.580312
                  the       0.573453
                  house     0.534300
                  blue      0.165005
                  green     0.095061
                  purple    0.030859
The house.        red       0.573750
                  the       0.560203
                  house     0.554710
                  blue      0.161368
                  green     0.100309
                  purple    0.030032
House.            house     0.890512
                  red       0.320954
                  blue      0.219707
                  green     0.166014
                  the       0.142057
                  purple    0.010578

 <ins>Unnormalized</ins>

epoch: 2

                          similarity
sentence          token
The red house.    red       0.572548
                  the       0.569842
                  house     0.562265
                  blue      0.124879
                  green     0.053175
                  purple    0.030978
The purple house. the       0.658747
                  house     0.638013
                  blue      0.254125
                  red       0.237414
                  green     0.194624
                  purple    0.030031
The house.        the       0.653963
                  house     0.652583
                  blue      0.239774
                  red       0.218047
                  green     0.203146
                  purple    0.029028
House.            house     0.932064
                  the       0.196456
                  blue      0.191182
                  red       0.174486
                  green     0.152491
                  purple    0.011019

 <ins>Normalized</ins>

epoch: 3

                          similarity
sentence          token
The red house.    red       0.767022
                  the       0.447437
                  house     0.439023
                  blue      0.049352
                  purple    0.028327
                  green    -0.021351
The purple house. red       0.606114
                  the       0.560804
                  house     0.524842
                  blue      0.150988
                  green     0.080621
                  purple    0.030703
The house.        red       0.600017
                  the       0.549104
                  house     0.543534
                  blue      0.147826
                  green     0.085463
                  purple    0.029965
House.            house     0.884294
                  red       0.340352
                  blue      0.211975
                  green     0.157315
                  the       0.154427
                  purple    0.011341

 <ins>Unnormalized</ins>

epoch: 3

                          similarity
sentence          token
The red house.    the       0.579233
                  house     0.570951
                  red       0.555680
                  blue      0.120705
                  green     0.050604
                  purple    0.031169
The purple house. the       0.673610
                  house     0.646521
                  blue      0.227389
                  red       0.217087
                  green     0.172393
                  purple    0.030453
The house.        the       0.664477
                  house     0.663266
                  blue      0.215449
                  red       0.199591
                  green     0.180642
                  purple    0.029368
House.            house     0.965084
                  the       0.145239
                  blue      0.138929
                  red       0.124657
                  green     0.105008
                  purple    0.008676

 <ins>Normalized</ins>

epoch: 4

                          similarity
sentence          token
The red house.    red       0.768584
                  the       0.470291
                  house     0.412122
                  blue      0.047860
                  purple    0.029213
                  green    -0.022329
The purple house. red       0.616591
                  the       0.573007
                  house     0.502042
                  blue      0.143481
                  green     0.073428
                  purple    0.031303
The house.        red       0.610486
                  the       0.563397
                  house     0.519603
                  blue      0.140809
                  green     0.078346
                  purple    0.030658
House.            house     0.879234
                  red       0.351030
                  blue      0.207462
                  the       0.168841
                  green     0.152299
                  purple    0.012065

 <ins>Unnormalized</ins>

epoch: 4

                          similarity
sentence          token
The red house.    house     0.596745
                  red       0.587206
                  the       0.520625
                  blue      0.111939
                  green     0.040560
                  purple    0.029276
The purple house. house     0.658159
                  the       0.655358
                  red       0.246302
                  blue      0.220579
                  green     0.164270
                  purple    0.030122
The house.        house     0.672387
                  the       0.649961
                  red       0.224371
                  blue      0.210162
                  green     0.173573
                  purple    0.029142
House.            house     0.958266
                  red       0.179837
                  the       0.137770
                  blue      0.132031
                  green     0.094398
                  purple    0.009092

 <ins>Normalized</ins>

epoch: 5

                          similarity
sentence          token
The red house.    red       0.772351
                  the       0.464066
                  house     0.412189
                  blue      0.046231
                  purple    0.029016
                  green    -0.024066
The purple house. red       0.634826
                  the       0.561484
                  house     0.496161
                  blue      0.133070
                  green     0.062758
                  purple    0.031093
The house.        red       0.629167
                  the       0.552837
                  house     0.512391
                  blue      0.130664
                  green     0.067276
                  purple    0.030508
House.            house     0.872426
                  red       0.368641
                  blue      0.200404
                  the       0.179909
                  green     0.144387
                  purple    0.012749

 <ins>Unnormalized</ins>

epoch: 5

                          similarity
sentence          token
The red house.    red       0.613445
                  the       0.551451
                  house     0.541838
                  blue      0.104259
                  green     0.033191
                  purple    0.030739
The purple house. the       0.667098
                  house     0.638424
                  red       0.274342
                  blue      0.213315
                  green     0.156353
                  purple    0.030916
The house.        the       0.659458
                  house     0.657547
                  red       0.247198
                  blue      0.204846
                  green     0.167051
                  purple    0.029806
House.            house     0.956182
                  red       0.186541
                  the       0.142500
                  blue      0.132169
                  green     0.094135
                  purple    0.009359

 <ins>Normalized</ins>

epoch: 6

                          similarity
sentence          token
The red house.    red       0.775222
                  the       0.459261
                  house     0.412218
                  blue      0.044950
                  purple    0.028863
                  green    -0.025426
The purple house. red       0.649776
                  the       0.551546
                  house     0.490908
                  blue      0.124287
                  green     0.053797
                  purple    0.030900
The house.        red       0.644512
                  the       0.543696
                  house     0.505993
                  blue      0.122096
                  green     0.057965
                  purple    0.030366
House.            house     0.865413
                  red       0.385216
                  blue      0.193723
                  the       0.190315
                  green     0.136918
                  purple    0.013392

 <ins>Unnormalized</ins>

epoch: 6

                          similarity
sentence          token
The red house.    red       0.614341
                  the       0.550984
                  house     0.541361
                  blue      0.103931
                  green     0.032871
                  purple    0.030730
The purple house. the       0.666433
                  house     0.637902
                  red       0.279048
                  blue      0.211532
                  green     0.154712
                  purple    0.030944
The house.        the       0.658936
                  house     0.657030
                  red       0.251756
                  blue      0.203393
                  green     0.165481
                  purple    0.029844
House.            house     0.954742
                  red       0.191065
                  the       0.145395
                  blue      0.132388
                  green     0.094138
                  purple    0.009525

 <ins>Normalized</ins>

epoch: 7

                          similarity
sentence          token
The red house.    red       0.777486
                  the       0.455408
                  house     0.412251
                  blue      0.043917
                  purple    0.028740
                  green    -0.026518
The purple house. red       0.662240
                  the       0.542877
                  house     0.486237
                  blue      0.116799
                  green     0.046184
                  purple    0.030724
The house.        red       0.657323
                  the       0.535694
                  house     0.500326
                  blue      0.114784
                  green     0.050044
                  purple    0.030233
House.            house     0.858269
                  red       0.400818
                  the       0.200079
                  blue      0.187400
                  green     0.129866
                  purple    0.013995

 <ins>Unnormalized</ins>

epoch: 7

                          similarity
sentence          token
The red house.    red       0.615152
                  the       0.550565
                  house     0.540930
                  blue      0.103604
                  green     0.032558
                  purple    0.030723
The purple house. the       0.665758
                  house     0.637371
                  red       0.283717
                  blue      0.209731
                  green     0.153060
                  purple    0.030970
The house.        the       0.658404
                  house     0.656502
                  red       0.256301
                  blue      0.201914
                  green     0.163890
                  purple    0.029881
House.            house     0.953296
                  red       0.195535
                  the       0.148203
                  blue      0.132596
                  green     0.094138
                  purple    0.009686

 <ins>Normalized</ins>

epoch: 8

                          similarity
sentence          token
The red house.    red       0.779324
                  the       0.452282
                  house     0.412239
                  blue      0.043067
                  purple    0.028641
                  green    -0.027415
The purple house. red       0.672784
                  the       0.535284
                  house     0.482031
                  blue      0.110345
                  green     0.039642
                  purple    0.030565
The house.        red       0.668175
                  the       0.528669
                  house     0.495247
                  blue      0.108476
                  green     0.043230
                  purple    0.030110
House.            house     0.851057
                  red       0.415503
                  the       0.209264
                  blue      0.181389
                  green     0.123182
                  purple    0.014561

 <ins>Unnormalized</ins>

epoch: 8

                          similarity
sentence          token
The red house.    red       0.628700
                  the       0.542907
                  house     0.533174
                  blue      0.102297
                  green     0.030665
                  purple    0.030570
The purple house. the       0.664347
                  house     0.636070
                  red       0.292301
                  blue      0.207286
                  green     0.150539
                  purple    0.031017
The house.        the       0.657542
                  house     0.655603
                  red       0.263216
                  blue      0.199862
                  green     0.161540
                  purple    0.029938
House.            house     0.951404
                  red       0.202279
                  the       0.150855
                  blue      0.132493
                  green     0.093661
                  purple    0.009871

 <ins>Normalized</ins>

epoch: 9

                          similarity
sentence          token
The red house.    red       0.780835
                  the       0.449741
                  house     0.412174
                  blue      0.042355
                  purple    0.028560
                  green    -0.028162
The purple house. red       0.681802
                  the       0.528619
                  house     0.478212
                  blue      0.104737
                  green     0.033974
                  purple    0.030421
The house.        red       0.677468
                  the       0.522493
                  house     0.490657
                  blue      0.102993
                  green     0.037321
                  purple    0.029999
House.            house     0.843794
                  red       0.429352
                  the       0.217929
                  blue      0.175701
                  green     0.116870
                  purple    0.015095

 <ins>Unnormalized</ins>

epoch: 9

                          similarity
sentence          token
The red house.    red       0.629322
                  the       0.542590
                  house     0.532846
                  blue      0.101890
                  purple    0.030565
                  green     0.030301
The purple house. the       0.663671
                  house     0.635529
                  red       0.296864
                  blue      0.205371
                  green     0.148784
                  purple    0.031043
The house.        the       0.657011
                  house     0.655068
                  red       0.267709
                  blue      0.198253
                  green     0.159821
                  purple    0.029976
House.            house     0.949986
                  red       0.206568
                  the       0.153437
                  blue      0.132595
                  green     0.093573
                  purple    0.010022

HBox(children=(Output(), Output()))

### Memory state

In [9]:
for memory_type, memory in memories.items():
    display(md(f"### <ins>{memory_type.capitalize()}</ins>"))
    concepts_df = display_and_get_memory_addresses(memory)
    
    concepts_df['memory_concept_str'] = concepts_df['memory_concept'].apply(lambda concept_list: " ".join(concept_list))
    print(concepts_df['memory_concept_str'].values)
    
    # Get cosine similarties of the memory addresses mapping to the same concept.
    tmp_df = pd.DataFrame(concepts_df.groupby('memory_concept_str')['memory_address'].apply(list)).reset_index()
    for i in range(len(tmp_df)):
        address_list = tmp_df['memory_address'][i]
        
        if len(address_list) > 1: 
            stacked_tensor = torch.stack(address_list, dim=0)
            pairwise_similarities = torch.nn.functional.cosine_similarity(stacked_tensor.unsqueeze(1), stacked_tensor.unsqueeze(0), dim=2)
            print(pairwise_similarities)
            # Why are they all identical?

### <ins>Normalized</ins>

NameError: name 'display_and_get_memory_addresses' is not defined