# Visualize memory

In [1]:
import sys
import os

# Get the absolute path of the parent directory.
parent_dir = os.path.abspath(os.path.join(os.path.dirname("__file__"), ".."))

# Add the parent directory to the system path to be able to import modules from 'lib.'
sys.path.append(parent_dir)

In [2]:
%%capture

import gensim.downloader as api
from IPython.display import Markdown as md

from lib.memory import DSDM
from lib.utils import cleanup, configs, inference, learning, preprocess, utils

import numpy as np
import pandas as pd
import pickle
import plotly.express as px
from sklearn.manifold import TSNE
import subprocess

In [43]:
display(md('#### Available memories:'))
print(f"{subprocess.getoutput('ls ./memories/method2 | nl')}")

#### Available memories:

     1	memory_2023-09-09 22-24-26-309400.pkl
     2	memory_2023-09-09 23-06-41-117607.pkl
     3	memory_2023-09-10 09-21-47-014390.pkl
     4	memory_2023-09-10 13-01-52-622408.pkl
     5	memory_2023-09-10 13-09-22-030328.pkl
     6	memory_2023-09-10 17-02-12-946618.pkl
     7	memory_2023-09-10 19-02-18-496164.pkl
     8	memory_2023-09-10 20-04-56-643706.pkl

In [87]:
#number = int(input())
#command = "ls ./{0}/ | sed '{1}!d'"

# Load cleanup and memory
# cleanup = pickle.load(open(f"cleanups/{subprocess.getoutput(command.format('cleanups', number))}",'rb'))
# memory = pickle.load(open(f"memories/{subprocess.getoutput(command.format('memories', number))}",'rb'))

cleanup = pickle.load(open(f"cleanups/method2/cleanup_2023-09-10 13-09-22-030328.pkl",'rb'))
memory = pickle.load(open(f"memories/method2/memory_2023-09-10 13-09-22-030328.pkl",'rb'))

### Memory stats

In [88]:
len(memory.wiki_articles)

5010

In [89]:
len(memory.addresses)

136896

In [90]:
memory.ema_time_period

100000

In [91]:
memory.n_updates

234448

In [92]:
memory.n_expansions

136896

In [85]:
memory.n_deletions

0

In [86]:
len(memory.wiki_articles)

12

In [23]:
print(f"Memory size: {len(memory.addresses)}")

Memory size: 105240

In [ ]:
%%capture

# Load pre-trained word embeddings (Word2Vec in this example)
word_vectors = api.load("word2vec-google-news-300")

In [ ]:
%%capture
concepts = [""]#, "universities"]#, 'days', 'day', 'record', 'stage']

address_embeddings = []
address_concepts = []
addresses = []
bins = []
chunk_scores = []

for idx, address in enumerate(memory.addresses[0:1000]):
    tokens = inference.get_most_similar_HVs(inference.get_similarities_to_atomic_set(address, cleanup))
    embeddings = [word_vectors[word] for word in tokens if word in word_vectors]
    if len(set(concepts).intersection(set(tokens))) > 0:
    #if embeddings:
        addresses.append(idx)
        bins.append(memory.scores[idx, 1].item())
        chunk_scores.append(memory.scores[idx, 0].item())
        address_concepts.append(" ".join(tokens))
        address_embeddings.append(sum(embeddings) / len(embeddings))

In [ ]:
address_concepts

In [ ]:
reduced_embeddings = TSNE(n_components=2, random_state=42, perplexity=2).fit_transform(np.array(address_embeddings))

df = pd.DataFrame(reduced_embeddings, columns=["Dimension 1", "Dimension 2"])
df["Address"] = addresses
df["Chunk"] = address_concepts
df['Bin'] = bins
df['Chunk-score'] = chunk_scores

In [ ]:
fig = px.scatter(
    df, x="Dimension 1", y="Dimension 2",
    text="Chunk", hover_data=["Address", "Bin", "Chunk-score"],
    title="Memory concepts"
)
fig.show()

In [ ]:
memory.scores[294]

In [ ]:
_df = pd.DataFrame()

In [42]:
addresses = np.random.randint(0, len(memory.addresses), size=70)
# addresses = np.argwhere((memory.chunk_scores > 0.97).cpu().detach().numpy().flatten()).flatten()
#addresses = np.argwhere((memory.scores[:, 1] > 4).cpu().detach().numpy().flatten()).flatten()
# addresses = [3, 4]

for address in addresses:
    display(md(f"### Address {address}"))
    address_sims_df = inference.get_similarities_to_atomic_set(
            memory.addresses[address],
            cleanup,
    )
    display(address_sims_df)

### Address 2575

         token  similarity
0           as        0.70
1            a        0.70
2   membership        0.11
3    catalonia        0.10
4       member        0.08
5     external        0.08
6     penelope        0.08
7        beach        0.08
8  christopher        0.08
9    committee        0.08

### Address 1593

          token  similarity
0         ridge        0.70
1          east        0.70
2          2011        0.10
3       leaders        0.10
4          book        0.09
5      turnover        0.09
6        sunday        0.09
7         nieuw        0.09
8  vicissitudes        0.09
9          city        0.08

### Address 2668

       token  similarity
0        had        0.51
1      their        0.50
2     season        0.48
3  postponed        0.48
4     julian        0.10
5     eating        0.09
6      fewer        0.08
7     mostly        0.08
8  direction        0.08
9  fernandez        0.08

### Address 1953

       token  similarity
0         in        0.73
1     search        0.38
2       half        0.35
3        the        0.33
4     second        0.32
5       move        0.12
6       plot        0.11
7        and        0.10
8    stripes        0.09
9  secretary        0.09

### Address 1097

         token  similarity
0           be        0.72
1  distributed        0.72
2    norwegian        0.10
3           25        0.10
4   temperance        0.10
5      victory        0.09
6      cuisine        0.09
7         mico        0.09
8            p        0.08
9         long        0.08

### Address 760

        token  similarity
0       brady        0.71
1          to        0.71
2   addressed        0.10
3         bid        0.10
4          15        0.09
5  assistance        0.09
6  temperance        0.09
7        half        0.08
8         are        0.08
9       names        0.08

### Address 3006

        token  similarity
0        apex        0.71
1         the        0.71
2      during        0.11
3          fa        0.09
4      rolled        0.09
5  additional        0.08
6     covered        0.08
7       visit        0.08
8          14        0.08
9       sound        0.08

### Address 1456

      token  similarity
0     goods        0.52
1     baked        0.51
2   symbols        0.49
3  national        0.47
4     doing        0.10
5       met        0.10
6     squad        0.09
7    placed        0.08
8   francis        0.08
9      load        0.08

### Address 2028

          token  similarity
0          with        0.50
1        denied        0.50
2          were        0.49
3             a        0.49
4         derby        0.11
5        during        0.10
6  presentation        0.09
7   christopher        0.09
8      bringing        0.09
9    membership        0.08

### Address 2985

      token  similarity
0     olive        1.00
1  released        0.12
2       far        0.11
3       eat        0.11
4   fleming        0.10
5      move        0.09
6     spire        0.09
7    sophie        0.08
8    jessie        0.08
9  outbreak        0.08

### Address 2636

       token  similarity
0    opening        0.51
1      their        0.51
2         of        0.50
3    defence        0.49
4        off        0.11
5       mary        0.09
6  etymology        0.09
7      being        0.09
8      sales        0.09
9   upcoming        0.08

### Address 3070

          token  similarity
0            at        0.59
1         outer        0.59
2           the        0.57
3  proclamation        0.12
4     exchanges        0.10
5        placed        0.09
6       january        0.09
7    government        0.09
8    appearance        0.08
9       steamed        0.08

### Address 2419

       token  similarity
0         to        0.42
1  challenge        0.39
2       into        0.39
3       city        0.38
4    penalty        0.37
5       area        0.36
6      drive        0.35
7   meetings        0.10
8     father        0.10
9     racing        0.09

### Address 2228

          token  similarity
0         still        0.47
1            to        0.43
2          game        0.42
3          play        0.40
4       delayed        0.38
5           the        0.37
6         bruno        0.12
7       showing        0.10
8  presentation        0.09
9             1        0.09

### Address 589

          token  similarity
0            of        0.72
1  constitution        0.72
2        varies        0.09
3          mary        0.09
4         eilis        0.08
5        bronze        0.08
6            it        0.08
7      pregnant        0.08
8         italy        0.08
9       pushing        0.08

### Address 2099

          token  similarity
0       rolling        0.68
1          ball        0.68
2         audio        0.11
3        series        0.08
4  municipality        0.08
5         games        0.07
6   consistency        0.07
7       netting        0.07
8          than        0.07
9    membership        0.07

### Address 96

         token  similarity
0    reclaimed        0.72
1           in        0.72
2          her        0.13
3  provisional        0.11
4      defence        0.11
5     latching        0.10
6    appointed        0.09
7       summer        0.09
8    september        0.09
9      illness        0.09

### Address 958

        token  similarity
0         the        0.59
1         old        0.58
2      dublin        0.58
3    messages        0.10
4        take        0.09
5     capitol        0.09
6     publish        0.08
7    restored        0.08
8       reach        0.08
9  screenplay        0.08

### Address 2676

       token  similarity
0   december        0.71
1         in        0.71
2     member        0.10
3    defence        0.10
4  returning        0.09
5         to        0.09
6     keeper        0.08
7                  0.08
8   frequent        0.08
9       plot        0.08

### Address 1313

        token  similarity
0       allow        0.71
1          to        0.71
2        land        0.10
3      racing        0.10
4  temperance        0.10
5    meetings        0.09
6          de        0.09
7        park        0.09
8       lives        0.08
9  prototypes        0.08

### Address 188

          token  similarity
0  municipality        0.61
1            of        0.59
2           the        0.58
3        convex        0.10
4       brazier        0.10
5         bruno        0.08
6            co        0.08
7          knew        0.08
8          2011        0.08
9       unusual        0.07

### Address 1647

        token  similarity
0        open        0.71
1           u        0.71
2       begin        0.10
3    remained        0.09
4   musicians        0.09
5   liverpool        0.09
6  derivative        0.09
7    together        0.08
8    proposed        0.08
9   bhradaigh        0.07

### Address 2411

        token  similarity
0         bid        0.60
1          in        0.59
2       their        0.56
3          to        0.12
4   barcelona        0.10
5       dutch        0.10
6        plot        0.09
7        post        0.09
8  palyanitsa        0.09
9        fast        0.09

### Address 324

     token  similarity
0      and        0.59
1       of        0.58
2      the        0.58
3     anti        0.10
4    halle        0.09
5  halfway        0.09
6       fa        0.09
7   sliced        0.09
8   during        0.09
9     knew        0.08

### Address 2490

      token  similarity
0       tie        0.50
1      city        0.49
2  received        0.45
3      home        0.45
4   another        0.41
5   removed        0.10
6     match        0.10
7       tap        0.09
8   writers        0.09
9    fourth        0.09

### Address 2065

     token  similarity
0     city        0.39
1        3        0.38
2       as        0.38
3  winners        0.38
4        0        0.34
5      ran        0.34
6      out        0.33
7     time        0.30
8    ridge        0.11
9   native        0.10

### Address 120

      token  similarity
0     mills        0.71
1    polder        0.71
2      ella        0.10
3  pressure        0.09
4      take        0.09
5     wheat        0.09
6    making        0.08
7     built        0.08
8       top        0.08
9        19        0.08

### Address 1173

         token  similarity
0           or        0.70
1          for        0.70
2         from        0.12
3    etymology        0.10
4           no        0.09
5       wooden        0.09
6        solid        0.09
7      through        0.09
8          are        0.09
9  constructed        0.09

### Address 2873

     token  similarity
0        a        0.47
1  tearing        0.46
2      run        0.45
3     post        0.43
4     near        0.42
5  fleming        0.11
6     1945        0.10
7        8        0.10
8      sea        0.09
9  formats        0.09

### Address 705

            token  similarity
0            life        0.61
1             she        0.59
2        personal        0.58
3       addressed        0.12
4        somewhat        0.10
5            58th        0.10
6           bryan        0.09
7         section        0.09
8          season        0.08
9  professionally        0.08

### Address 959

      token  similarity
0    dublin        0.52
1       old        0.51
2       the        0.49
3   society        0.48
4      knew        0.10
5       wta        0.10
6   capitol        0.09
7         8        0.09
8  messages        0.08
9     match        0.08

### Address 2155

     token  similarity
0   united        0.59
1   second        0.58
2     half        0.57
3  already        0.09
4        d        0.09
5     1903        0.09
6    weeks        0.08
7   reared        0.08
8    dough        0.08
9     card        0.08

### Address 610

         token  similarity
0      capitol        0.73
1          the        0.73
2       points        0.09
3       placed        0.09
4   derivative        0.09
5       living        0.08
6  illuminated        0.08
7     restored        0.08
8           co        0.08
9            8        0.08

### Address 310

        token  similarity
0        1890        0.70
1       march        0.70
2       years        0.09
3  previously        0.09
4    defender        0.09
5   direction        0.09
6      defeat        0.08
7    jamaican        0.08
8         its        0.08
9   involving        0.08

### Address 3133

        token  similarity
0  specialise        0.72
1          in        0.72
2         her        0.10
3      convex        0.09
4      former        0.09
5       shape        0.09
6   etymology        0.08
7       world        0.08
8        mary        0.08
9   appointed        0.08

### Address 1776

          token  similarity
0          lane        0.71
1            at        0.71
2       winners        0.10
3    recruiting        0.09
4     exchanges        0.09
5          wins        0.09
6  transactions        0.09
7        braces        0.09
8       steamed        0.08
9         lydia        0.08

### Address 2634

     token  similarity
0    their        0.59
1       of        0.59
2  defence        0.56
3      off        0.12
4  removed        0.10
5     mary        0.09
6     that        0.09
7   angela        0.09
8  primary        0.08
9     fast        0.08

### Address 1015

         token  similarity
0       placed        0.71
1           in        0.71
2       penned        0.10
3        which        0.09
4         knew        0.09
5          her        0.09
6         with        0.09
7  controlling        0.09
8         york        0.08
9     acquired        0.08

### Address 102

      token  similarity
0       the        0.58
1   village        0.58
2        of        0.58
3   mothers        0.09
4        fa        0.08
5   largest        0.08
6      anti        0.08
7   halfway        0.08
8         j        0.08
9  national        0.07

### Address 619

       token  similarity
0        was        0.72
1        has        0.72
2    finding        0.11
3   frequent        0.10
4    sisters        0.09
5   messages        0.09
6  greenwood        0.09
7          3        0.08
8   national        0.08
9     member        0.08

### Address 61

        token  similarity
0           a        0.60
1  settlement        0.58
2    daughter        0.57
3       lydia        0.11
4         net        0.10
5      corner        0.10
6      during        0.10
7        then        0.09
8         few        0.09
9      member        0.09

### Address 2660

       token  similarity
0       game        0.61
1    meeting        0.59
2  postponed        0.56
3      april        0.11
4      along        0.10
5       mico        0.09
6    changed        0.09
7    runners        0.09
8      later        0.09
9       name        0.09

### Address 97

       token  similarity
0         is        0.58
1  reclaimed        0.58
2    located        0.56
3       near        0.11
4     winter        0.09
5         11        0.08
6     single        0.08
7      spent        0.08
8     mostly        0.08
9       used        0.08

### Address 829

       token  similarity
0         co        0.60
1     galway        0.59
2  connemara        0.56
3    friends        0.09
4    sisters        0.08
5     asking        0.08
6      known        0.08
7    station        0.08
8      other        0.08
9      bryan        0.08

### Address 2743

        token  similarity
0        when        0.59
1      before        0.58
2         the        0.54
3        also        0.10
4        wide        0.09
5     covered        0.09
6  additional        0.09
7         had        0.08
8      stages        0.08
9          ve        0.08

### Address 2943

        token  similarity
0       match        0.73
1  references        0.73
2      merged        0.09
3     changed        0.09
4    halftime        0.09
5   selection        0.08
6     evening        0.08
7    acquired        0.08
8   encircled        0.08
9       rules        0.08

### Address 2993

          token  similarity
0       whitish        0.53
1        little        0.52
2             a        0.52
3            or        0.48
4  organization        0.11
5      football        0.10
6        stages        0.09
7        spirit        0.09
8        member        0.09
9     education        0.08

### Address 2268

        token  similarity
0     instead        0.72
1         and        0.72
2     friends        0.10
3      either        0.10
4      church        0.09
5  commission        0.09
6      madrid        0.09
7       break        0.09
8      awards        0.09
9   bhradaigh        0.08

### Address 1130

          token  similarity
0     pregnancy        0.58
1          film        0.57
2            in        0.56
3          apex        0.09
4        person        0.09
5         loyal        0.09
6         shape        0.08
7        raised        0.08
8     september        0.08
9  vicissitudes        0.08

### Address 2727

      token  similarity
0       her        0.69
1       who        0.69
2      mill        0.10
3  columbia        0.10
4      apex        0.08
5     visit        0.08
6  pregnant        0.08
7      over        0.08
8     milan        0.08
9        in        0.08

### Address 253

             token  similarity
0              the        0.58
1             high        0.57
2           school        0.56
3        scheduled        0.12
4            leave        0.10
5              bid        0.09
6            begin        0.09
7        delivered        0.08
8        christian        0.08
9  cinematographer        0.08

### Address 1272

     token  similarity
0  kneaded        0.72
1     with        0.72
2  rwandan        0.09
3   galway        0.09
4    cabra        0.09
5  rattled        0.08
6  largest        0.08
7   person        0.08
8    games        0.08
9  ukraine        0.08

### Address 2041

        token  similarity
0        give        0.68
1        city        0.68
2       while        0.10
3  production        0.10
4     delayed        0.09
5  collection        0.09
6  alcoholism        0.09
7     ranking        0.09
8       spain        0.09
9    believed        0.09

### Address 2796

        token  similarity
0     deficit        0.57
1      sudden        0.56
2         the        0.55
3     perfect        0.11
4  additional        0.10
5   locations        0.10
6       russo        0.09
7      placed        0.09
8     removed        0.08
9     minutes        0.08

### Address 2345

        token  similarity
0       group        0.70
1        four        0.70
2      charge        0.10
3    youthful        0.10
4     rattled        0.10
5   gastropod        0.10
6      marine        0.10
7       civil        0.09
8       louis        0.09
9  eventually        0.09

### Address 2585

           token  similarity
0           head        0.72
1           from        0.72
2          italy        0.10
3           boys        0.09
4        serious        0.09
5  automatically        0.09
6     possession        0.09
7           salt        0.08
8       achieved        0.08
9           left        0.08

### Address 2975

        token  similarity
0   elongated        0.49
1          an        0.40
2       shell        0.40
3         has        0.39
4     conical        0.37
5       shape        0.36
6         sam        0.12
7  classmates        0.10
8  temperance        0.10
9        jess        0.09

### Address 2646

         token  similarity
0          ham        0.71
1         west        0.71
2    tennessee        0.11
3          row        0.09
4   screenplay        0.09
5       penned        0.08
6       circle        0.08
7     pregnant        0.08
8  significant        0.08
9       street        0.08

### Address 1495

     token  similarity
0        a        0.46
1      wta        0.46
2   career        0.46
3      has        0.44
4     high        0.37
5     them        0.09
6  sisters        0.09
7  formats        0.09
8   member        0.08
9    lydia        0.08

### Address 780

          token  similarity
0  proclamation        0.57
1      republic        0.57
2       printed        0.57
3          anti        0.09
4           met        0.09
5       changed        0.09
6        tennis        0.09
7       swollen        0.09
8      outbreak        0.08
9      jamaican        0.08

### Address 569

      token  similarity
0  american        0.69
1    spirit        0.69
2   brosnan        0.11
3    merged        0.11
4     media        0.11
5  although        0.10
6       saw        0.10
7     these        0.09
8       can        0.09
9        15        0.09

### Address 2050

       token  similarity
0        the        0.55
1        for        0.50
2    pushing        0.50
3       they        0.50
4  published        0.10
5       case        0.09
6    obliged        0.09
7       knew        0.09
8       mark        0.09
9    forward        0.09

### Address 1620

       token  similarity
0     coming        0.45
1          a        0.45
2         of        0.44
3        off        0.43
4        are        0.40
5        3rd        0.39
6  periphery        0.10
7     dublin        0.10
8       four        0.09
9  worldwide        0.09

### Address 3118

       token  similarity
0    italian        0.61
1         is        0.58
2         an        0.56
3       blew        0.11
4         12        0.09
5  bhradaigh        0.08
6     symbol        0.08
7   russians        0.08
8     handed        0.08
9   diameter        0.08

### Address 2784

       token  similarity
0       from        0.52
1         as        0.52
2       gone        0.49
3        had        0.48
4       year        0.10
5   penelope        0.09
6       blew        0.09
7      rules        0.09
8  committee        0.09
9    academy        0.08

### Address 1630

         token  similarity
0            a        0.61
1           of        0.57
2       finish        0.55
3      primary        0.11
4            p        0.10
5       though        0.10
6       member        0.09
7  imperforate        0.08
8         once        0.08
9      formats        0.08

### Address 2967

          token  similarity
0       between        0.70
1           and        0.70
2    recruiting        0.09
3         words        0.09
4           can        0.09
5       setting        0.09
6  championship        0.09
7       quarter        0.08
8           got        0.08
9        guided        0.08

### Address 2354

      token  similarity
0     debut        0.70
1        on        0.70
2     yeast        0.13
3     wrote        0.10
4  involved        0.09
5  turnover        0.09
6    belief        0.08
7       sea        0.08
8     white        0.08
9        to        0.07

### Address 2121

         token  similarity
0          the        0.60
1         ball        0.58
2      spilled        0.58
3  illuminated        0.10
4      netting        0.09
5       convex        0.08
6      sisters        0.08
7       runner        0.08
8       sliced        0.08
9   additional        0.08

### Address 1864

        token  similarity
0         the        0.59
1       route        0.58
2          to        0.56
3       bruno        0.10
4    measures        0.09
5        town        0.08
6  temperance        0.08
7  additional        0.08
8          12        0.08
9        went        0.08