# Visualize memory

In [27]:
import sys
import os

# Get the absolute path of the parent directory.
parent_dir = os.path.abspath(os.path.join(os.path.dirname("__file__"), ".."))

# Add the parent directory to the system path to be able to import modules from 'lib.'
sys.path.append(parent_dir)

In [28]:
%%capture

import gensim.downloader as api
from IPython.display import Markdown as md

from lib.memory import DSDM
from lib.utils import cleanup, configs, inference, learning, preprocess, utils

import numpy as np
import pandas as pd
import pickle
import plotly.express as px
from sklearn.manifold import TSNE
import subprocess

In [29]:
display(md('#### Available memories:'))
print(f"{subprocess.getoutput('ls ./memories/ | nl')}")

#### Available memories:

     1	memory_2023-08-13 12:16:55.806391.pkl
     2	memory_2023-08-13 12:34:54.694413.pkl
     3	memory_2023-08-13 15:39:34.086703.pkl
     4	memory_2023-08-15 01:02:10.640405.pkl
     5	memory_2023-08-15 01:02:45.620262.pkl
     6	memory_2023-08-15 17:19:11.145332.pkl
     7	memory_2023-08-15 17:29:22.393839.pkl
     8	memory_2023-08-19 20:03:41.994486.pkl
     9	memory_2023-08-19 20:48:41.219584.pkl
    10	memory_2023-08-20 05:28:38.340643.pkl
    11	memory_2023-08-20 05:48:55.214127.pkl
    12	memory_2023-08-20 05:49:14.943474.pkl
    13	method1
    14	method2

In [30]:
#number = int(input())
command = "ls ./{0}/ | sed '{1}!d'"

# Load cleanup and memory
# cleanup = pickle.load(open(f"cleanups/{subprocess.getoutput(command.format('cleanups', number))}",'rb'))
# memory = pickle.load(open(f"memories/{subprocess.getoutput(command.format('memories', number))}",'rb'))

cleanup = pickle.load(open(f"cleanups/method2/cleanup_2023-09-09 23-06-41-117607.pkl",'rb'))
memory = pickle.load(open(f"memories/method2/memory_2023-09-09 23-06-41-117607.pkl",'rb'))

### Memory stats

In [31]:
len(memory.addresses)

38322

In [32]:
memory.ema_time_period

100000

In [33]:
memory.chunk_size

In [34]:
memory.n_updates

35095

In [35]:
memory.n_expansions

38322

In [36]:
memory.removed_duplicates

0

In [37]:
memory.n_deletions

0

In [38]:
print(f"Memory size: {len(memory.addresses)}")

Memory size: 38322

In [39]:
%%capture

# Load pre-trained word embeddings (Word2Vec in this example)
word_vectors = api.load("word2vec-google-news-300")

In [40]:
%%capture
#concepts = ["university", "universities"]#, 'days', 'day', 'record', 'stage']

address_embeddings = []
address_concepts = []
addresses = []
bins = []
chunk_scores = []

for idx, address in enumerate(memory.addresses[0:1000]):
    tokens = inference.get_most_similar_HVs(inference.get_similarities_to_atomic_set(address, cleanup))
    embeddings = [word_vectors[word] for word in tokens if word in word_vectors]
    #if len(set(concepts).intersection(set(tokens))) > 0:
    if embeddings:
        addresses.append(idx)
        bins.append(memory.scores[idx, 1].item())
        chunk_scores.append(memory.scores[idx, 0].item())
        address_concepts.append(" ".join(tokens))
        address_embeddings.append(sum(embeddings) / len(embeddings))

In [41]:
reduced_embeddings = TSNE(n_components=2, random_state=42, perplexity=2).fit_transform(np.array(address_embeddings))

df = pd.DataFrame(reduced_embeddings, columns=["Dimension 1", "Dimension 2"])
df["Address"] = addresses
df["Chunk"] = address_concepts
df['Bin'] = bins
df['Chunk-score'] = chunk_scores

In [42]:
fig = px.scatter(
    df, x="Dimension 1", y="Dimension 2",
    text="Chunk", hover_data=["Address", "Bin", "Chunk-score"],
    title="Memory concepts"
)
fig.show()

In [53]:
memory.scores[294]

tensor([0.6500, 0.0401], device='cuda:0', dtype=torch.float64)

In [49]:
addresses = np.random.randint(0, len(memory.addresses), size=70)
# addresses = np.argwhere((memory.chunk_scores > 0.97).cpu().detach().numpy().flatten()).flatten()
#addresses = np.argwhere((memory.scores[:, 1] > 4).cpu().detach().numpy().flatten()).flatten()
# addresses = [3, 4]

for address in addresses:
    display(md(f"### Address {address}"))
    address_sims_df = inference.get_similarities_to_atomic_set(
            memory.addresses[address],
            cleanup,
    )
    display(address_sims_df)

### Address 7345

        token  similarity
0  instituted    0.721803
1        have    0.721803
2      rather    0.120531
3     curtain    0.120531
4        jian    0.112219
5       sharp    0.103906
6      ranked    0.103906
7        bars    0.101136
8       orbit    0.098365
9     empress    0.098365

### Address 27462

         token  similarity
0           at    0.589551
1           as    0.587274
2        doses    0.580446
3  harpsichord    0.119504
4         leaf    0.113813
5   possession    0.108122
6       showed    0.104708
7      hearing    0.102432
8         1865    0.102432
9     depicted    0.102432

### Address 36047

          token  similarity
0            in    0.699285
1         crete    0.699285
2          1920    0.121553
3        scouts    0.115833
4           who    0.107252
5      produced    0.101532
6  contemporary    0.101532
7          rico    0.098672
8        mental    0.095812
9          27th    0.095812

### Address 29605

           token  similarity
0    connecticut    0.704273
1             in    0.704273
2            joy    0.110753
3          coast    0.107913
4       highland    0.102233
5       kingston    0.102233
6     themselves    0.099393
7     occupation    0.099393
8  psychological    0.099393
9          among    0.096554

### Address 13854

      token  similarity
0    single    0.719027
1   charted    0.719027
2   granted    0.123778
3      jump    0.112652
4   protein    0.109871
5  berkeley    0.107089
6      iron    0.104308
7  reaching    0.101526
8  moderate    0.098745
9    surrey    0.098745

### Address 2723

         token  similarity
0      article    0.717635
1  highlighted    0.717635
2        sands    0.126805
3         bend    0.121232
4        guard    0.115658
5      william    0.107297
6  adaptations    0.107297
7    lifestyle    0.107297
8    fisheries    0.104510
9         auto    0.104510

### Address 29374

           token  similarity
0        lineage    0.725259
1             of    0.725259
2           1861    0.113063
3         linked    0.110305
4     preference    0.107548
5         hawker    0.104790
6             21    0.104790
7       surveyor    0.104790
8   surprisingly    0.102033
9  expeditionary    0.102033

### Address 11451

       token  similarity
0    transit    0.700714
1      rapid    0.700714
2       1953    0.118451
3         11    0.107034
4  ultimatum    0.107034
5    habitat    0.107034
6  sacrament    0.104179
7   warriors    0.104179
8    fingers    0.104179
9       1936    0.104179

### Address 4660

        token  similarity
0        2010    0.696420
1        late    0.696420
2        dion    0.122053
3         mic    0.122053
4    pleasure    0.119181
5  encourages    0.116309
6        tube    0.113437
7    escaping    0.110566
8   communist    0.110566
9          me    0.110566

### Address 33037

          token  similarity
0         peace    0.717635
1      internal    0.717635
2     attending    0.115658
3  broadcasting    0.110084
4           der    0.110084
5   protagonist    0.107297
6      princess    0.107297
7        diesel    0.107297
8    percentage    0.107297
9            bu    0.104510

### Address 1807

        token  similarity
0     greater    0.687023
1        role    0.687023
2      across    0.139733
3   townships    0.116445
4      couldn    0.113533
5   auxiliary    0.113533
6    shooting    0.110622
7        lake    0.107711
8  racecourse    0.107711
9          pm    0.104800

### Address 14093

     token  similarity
0      the    0.699285
1  maximum    0.699285
2     hunt    0.127273
3    rides    0.110112
4   member    0.110112
5     1664    0.107252
6   formed    0.104392
7   slalom    0.101532
8   grants    0.101532
9  loosely    0.101532

### Address 4985

        token  similarity
0  television    0.701427
1       radio    0.701427
2      geneva    0.116905
3     mothers    0.116905
4     sponsor    0.108351
5       glide    0.105499
6        paid    0.105499
7     iceland    0.105499
8        emma    0.099797
9    mohammad    0.096945

### Address 2145

     token  similarity
0      the    0.712741
1     town    0.712741
2      wry    0.129079
3  harvard    0.123467
4   nature    0.112243
5    ellis    0.106631
6  ireland    0.101018
7   opined    0.098212
8   starts    0.098212
9      xvi    0.098212

### Address 33444

         token  similarity
0         film    0.698570
1      starred    0.698570
2          375    0.108794
3  competitors    0.105931
4         then    0.103068
5           gp    0.103068
6         1969    0.100205
7     lecturer    0.100205
8      station    0.100205
9       agreed    0.100205

### Address 34158

          token  similarity
0         legal    0.710634
1       officer    0.710634
2  agricultural    0.128055
3    collateral    0.102725
4         rhode    0.102725
5         grant    0.099911
6      achilles    0.099911
7        dieter    0.099911
8      episodes    0.097096
9  materialized    0.097096

### Address 33157

         token  similarity
0           to    0.584311
1          out    0.580833
2         hold    0.559965
3  politically    0.120572
4      organic    0.114775
5    observing    0.108979
6    notoriety    0.107819
7      suicide    0.107819
8        dunes    0.104341
9    postponed    0.104341

### Address 14563

      token  similarity
0    factor    0.709930
1       the    0.709930
2   survive    0.126773
3      1645    0.121139
4        21    0.112687
5    canned    0.109870
6    wicked    0.107053
7   collins    0.104236
8   classed    0.104236
9  pantheon    0.101419

### Address 16359

           token  similarity
0         female    0.701427
1       literacy    0.701427
2       builders    0.116905
3  collaboration    0.114053
4            bmg    0.114053
5      masculine    0.102648
6           1933    0.099797
7     prefecture    0.099797
8       steelers    0.099797
9    theoretical    0.099797

### Address 22537

        token  similarity
0    visiting    0.707107
1   professor    0.707107
2        1741    0.127279
3       alter    0.127279
4     fighter    0.121622
5        vale    0.115966
6    rebounds    0.107480
7  diplomatic    0.107480
8         eds    0.104652
9      pietro    0.104652

### Address 31543

         token  similarity
0     election    0.706399
1   nomination    0.706399
2  controlling    0.120329
3   persecuted    0.117497
4         navy    0.117497
5    listening    0.111835
6     shipyard    0.109004
7        gamma    0.109004
8           as    0.106172
9       alfred    0.106172

### Address 6059

      token  similarity
0         6    0.721110
1     frogs    0.721110
2  gathered    0.113714
3     fined    0.113714
4    widely    0.108167
5       6th    0.105393
6       orb    0.105393
7         с    0.102620
8     delta    0.102620
9  programs    0.102620

### Address 4088

        token  similarity
0       paved    0.584242
1        been    0.583096
2         had    0.578514
3      almost    0.126013
4       wards    0.121431
5    terrible    0.111121
6        1906    0.107684
7      suffer    0.106538
8  complained    0.104247
9       multi    0.103102

### Address 19467

           token  similarity
0         police    0.583527
1        chicago    0.573107
2     department    0.570792
3        disused    0.112306
4   neighbouring    0.108832
5          horne    0.105359
6          mason    0.100728
7  conversations    0.100728
8          front    0.099570
9       fourteen    0.096097

### Address 27978

        token  similarity
0      willie    0.691375
1       naked    0.691375
2     trapped    0.121497
3     coaches    0.107033
4  households    0.104140
5     hussain    0.101247
6       debut    0.101247
7     schmidt    0.098355
8        lead    0.098355
9         ice    0.098355

### Address 33291

       token  similarity
0      first    0.700000
1      level    0.700000
2        hai    0.122857
3  guardians    0.111429
4      metro    0.111429
5  invisible    0.105714
6        tin    0.105714
7       1996    0.102857
8      palms    0.100000
9     famous    0.097143

### Address 494

         token  similarity
0     governor    0.721803
1     military    0.721803
2           hz    0.114990
3  sedimentary    0.114990
4   undergoing    0.106677
5      uniform    0.103906
6          ear    0.103906
7         1939    0.101136
8     medieval    0.101136
9      covered    0.101136

### Address 35955

          token  similarity
0    sustaining    0.708520
1         value    0.708520
2         forge    0.110089
3      playoffs    0.104443
4     honeymoon    0.101620
5    nomination    0.101620
6       counter    0.101620
7    subspecies    0.098798
8          laws    0.095975
9  celebrations    0.095975

### Address 12744

          token  similarity
0          poor    0.719722
1  organization    0.719722
2       columns    0.122269
3    meaningful    0.111154
4      language    0.108375
5    passengers    0.105596
6       figures    0.100039
7       ontario    0.097260
8        hebrew    0.097260
9     tormented    0.097260

### Address 33394

          token  similarity
0      recently    0.694982
1          very    0.694982
2  cerambycidae    0.116550
3        layout    0.110794
4       handful    0.107916
5          1909    0.107916
6     nominated    0.105039
7        facade    0.102161
8         straw    0.099283
9      reverend    0.099283

### Address 22206

          token  similarity
0            is    0.697854
1     notorious    0.697854
2       pumping    0.121802
3  southernmost    0.118936
4     distances    0.113204
5   prosecutors    0.110338
6       reverse    0.107472
7     swallowed    0.107472
8        repeat    0.104606
9  technologies    0.101741

### Address 14395

          token  similarity
0        season    0.684836
1       growing    0.684836
2  municipality    0.121197
3         moose    0.112436
4       payment    0.109515
5     manhattan    0.106595
6         films    0.100754
7         mater    0.100754
8       emerged    0.100754
9         roots    0.100754

### Address 18782

         token  similarity
0        lewis    0.723187
1        allen    0.723187
2    therapist    0.134128
3     prepared    0.106473
4        equal    0.103708
5      tourist    0.100942
6   dictionary    0.100942
7  contributor    0.098176
8         aren    0.098176
9         lawn    0.095411

### Address 11371

             token  similarity
0               of    0.674537
1      variability    0.674537
2             1861    0.120082
3  cinematographer    0.111187
4       loneliness    0.105257
5        disasters    0.102292
6         material    0.102292
7         insights    0.099327
8          ancient    0.099327
9          textile    0.096362

### Address 11941

    token  similarity
0      25    0.583878
1      on    0.576968
2  august    0.575817
3  gently    0.132438
4  darwin    0.109405
5   waste    0.107102
6     fee    0.104799
7  source    0.100192
8  chicks    0.099040
9   title    0.097889

### Address 14009

            token  similarity
0            dawn    0.710634
1           until    0.710634
2      challenged    0.128055
3          author    0.122426
4           maria    0.116797
5  representative    0.113983
6        fighters    0.113983
7         bohemia    0.108354
8        smallest    0.102725
9       stationed    0.102725

### Address 28765

         token  similarity
0     japanese    0.701427
1   submarines    0.701427
2       warner    0.116905
3   impairment    0.111202
4       peaked    0.108351
5  centimeters    0.105499
6   volunteers    0.105499
7       charts    0.102648
8       chosen    0.102648
9     foremost    0.102648

### Address 294

      token  similarity
0   neutral    0.703562
1         a    0.703562
2    arabic    0.126499
3   passage    0.117971
4   content    0.112286
5   average    0.112286
6  scholars    0.109443
7      alex    0.103758
8  bulgaria    0.103758
9  resident    0.100915

### Address 23414

        token  similarity
0          in    0.695701
1  technology    0.695701
2    atlantic    0.117867
3  occupation    0.112117
4       given    0.112117
5          ap    0.112117
6      scouts    0.109242
7      sussex    0.106368
8     eastern    0.106368
9     balcony    0.106368

### Address 28765

         token  similarity
0     japanese    0.701427
1   submarines    0.701427
2       warner    0.116905
3   impairment    0.111202
4       peaked    0.108351
5  centimeters    0.105499
6   volunteers    0.105499
7       charts    0.102648
8       chosen    0.102648
9     foremost    0.102648

### Address 8456

          token  similarity
0      brothers    0.579149
1          1860    0.554227
2          york    0.551854
3  newfoundland    0.123425
4     faculties    0.115118
5       fourier    0.111557
6     amendment    0.104437
7        dinner    0.103250
8    especially    0.100876
9    eurovision    0.100876

### Address 7264

       token  similarity
0  currently    0.604915
1        for    0.559017
2      plays    0.535479
3   critical    0.110627
4     kidney    0.105919
5         ye    0.105919
6    stepped    0.103565
7   dialects    0.103565
8     begins    0.101212
9        run    0.098858

### Address 37474

      token  similarity
0   married    0.663325
1     susan    0.663325
2        be    0.114574
3  uploaded    0.111559
4     singh    0.108544
5   william    0.108544
6      reds    0.108544
7    system    0.105529
8      dams    0.099499
9     clips    0.096484

### Address 11756

         token  similarity
0          top    0.690652
1         time    0.690652
2          xvi    0.114385
3        crews    0.111489
4     homemade    0.105697
5  appalachian    0.099906
6           at    0.099906
7           cd    0.099906
8        lucia    0.099906
9       charts    0.097010

### Address 13106

          token  similarity
0            of    0.605192
1           the    0.602967
2      identity    0.589617
3      accident    0.116811
4  displacement    0.110136
5       skating    0.110136
6          1814    0.109024
7           323    0.107911
8       harvard    0.105686
9      reptiles    0.103461

### Address 6690

         token  similarity
0         made    0.702851
1          had    0.702851
2      puzzles    0.125204
3     benjamin    0.113822
4          ski    0.113822
5       thrash    0.110977
6        wasps    0.108131
7  netherlands    0.105285
8           73    0.102440
9        laser    0.102440

### Address 30305

        token  similarity
0   providers    0.725259
1     service    0.725259
2  conducting    0.126851
3      retire    0.107548
4          st    0.107548
5     conical    0.107548
6     lacking    0.107548
7     interim    0.104790
8    measures    0.102033
9      subway    0.102033

### Address 20562

          token  similarity
0      veterans    0.702140
1      military    0.702140
2         rings    0.121059
3       windows    0.112513
4  specifically    0.112513
5       cutting    0.106816
6       frowned    0.106816
7          1626    0.101119
8    regression    0.101119
9           ear    0.095423

### Address 29291

           token  similarity
0            was    0.716240
1      conferred    0.716240
2        culture    0.113091
3        unitary    0.113091
4         review    0.107506
5           area    0.107506
6       pictures    0.107506
7     transition    0.101921
8         slices    0.101921
9  architectural    0.099129

### Address 17877

         token  similarity
0         exam    0.716938
1        class    0.716938
2         luca    0.111586
3        funds    0.106006
4         copy    0.103217
5      spawned    0.100427
6      expense    0.100427
7      remains    0.100427
8       landed    0.097637
9  performance    0.097637

### Address 32192

        token  similarity
0       chief    0.702140
1   secretary    0.702140
2        zhou    0.112513
3       pleas    0.109665
4      mobile    0.106816
5  fourteenth    0.106816
6    charcoal    0.103968
7       1830s    0.103968
8      harper    0.103968
9         ice    0.101120

### Address 24775

       token  similarity
0       sole    0.602731
1     rights    0.598208
2      water    0.567676
3       cage    0.120999
4       1914    0.120999
5    jeffrey    0.114214
6       lady    0.108560
7       wage    0.104036
8       sets    0.099513
9  respected    0.098382

### Address 412

        token  similarity
0     culture    0.711337
1     popular    0.711337
2     caliber    0.118088
3       ships    0.112464
4  conjecture    0.106841
5       privy    0.106841
6       sized    0.106841
7     italics    0.106841
8     morocco    0.101218
9    locality    0.101218

### Address 1251

           token  similarity
0        stephen    0.692820
1           that    0.692820
2         opined    0.115470
3    challenging    0.112583
4          mason    0.103923
5        ballads    0.103923
6  demonstration    0.101036
7     luxembourg    0.101036
8          mines    0.101036
9        century    0.101036

### Address 15447

        token  similarity
0        jazz    0.609516
1       album    0.591423
2          by    0.567676
3      deaths    0.134569
4    religion    0.125522
5     goddard    0.119868
6   prominent    0.109690
7  bernardino    0.109690
8    personal    0.104036
9    analyzed    0.102905

### Address 14195

         token  similarity
0         yuan    0.707107
1  legislative    0.707107
2       guests    0.110309
3   supporting    0.110309
4        posts    0.104652
5     features    0.104652
6       ciudad    0.104652
7        vinyl    0.101823
8        maine    0.098995
9   especially    0.098995

### Address 6090

          token  similarity
0        rating    0.700000
1             a    0.700000
2   appointment    0.105714
3           375    0.105714
4        ludwig    0.102857
5      regional    0.100000
6         renew    0.100000
7            73    0.100000
8  independence    0.097143
9         gable    0.097143

### Address 8807

      token  similarity
0     award    0.579674
1    singer    0.576196
2       won    0.569239
3    talmud    0.115935
4     units    0.111297
5  cemetery    0.103182
6     girls    0.100863
7   sharing    0.099704
8     calls    0.096226
9    horror    0.096226

### Address 30714

       token  similarity
0        for    0.702851
1      brief    0.702851
2       arid    0.145123
3  according    0.119513
4       soon    0.116668
5       pier    0.113822
6   republic    0.113822
7    wilfred    0.110977
8     shares    0.108131
9       1838    0.105285

### Address 17980

          token  similarity
0            it    0.556580
1             a    0.555378
2            is    0.551772
3        fisher    0.104584
4    basketball    0.102180
5      epidemic    0.100978
6     courtroom    0.099776
7       lessons    0.098574
8           way    0.098574
9  independence    0.098574

### Address 24990

       token  similarity
0       1967    0.707814
1        the    0.707814
2     slalom    0.125739
3    abandon    0.120088
4     formed    0.117263
5  confronts    0.108786
6  employing    0.105960
7        400    0.105960
8     hearst    0.105960
9   altering    0.103135

### Address 8203

     token  similarity
0      min    0.711337
1        7    0.711337
2      160    0.129334
3   manuel    0.118088
4    pulse    0.115276
5  locally    0.112464
6  critics    0.106841
7  capsule    0.106841
8    never    0.106841
9   aboard    0.104030

### Address 37119

          token  similarity
0           use    0.700000
1        plants    0.700000
2          rica    0.114286
3  surprisingly    0.111429
4       springs    0.111429
5  economically    0.105714
6        relief    0.105714
7     threatens    0.105714
8       outlets    0.105714
9   interaction    0.102857

### Address 4984

       token  similarity
0  presented    0.716938
1        was    0.716938
2     wouldn    0.108796
3  supplying    0.106006
4  newspaper    0.106006
5       date    0.106006
6    hampton    0.103217
7     rebels    0.103217
8    shocked    0.103217
9    servant    0.100427

### Address 23807

            token  similarity
0              in    0.707107
1            1819    0.707107
2  constitutional    0.107480
3         wealthy    0.104652
4         knocked    0.101823
5             far    0.096167
6               u    0.096167
7              76    0.096167
8     undisclosed    0.093338
9        annoying    0.093338

### Address 6991

       token  similarity
0       such    0.535294
1      areas    0.523464
2       seen    0.507691
3     within    0.462344
4   involves    0.119283
5        jon    0.105481
6         de    0.103510
7  scheduled    0.101538
8   insignia    0.099567
9    twitter    0.097595

### Address 38037

     token  similarity
0      and    0.703562
1   almost    0.703562
2     prep    0.112286
3      cup    0.112286
4    thief    0.106600
5  knocked    0.100915
6   ronnie    0.098072
7      las    0.098072
8     1887    0.095230
9   herald    0.095230

### Address 25666

        token  similarity
0      months    0.721803
1        five    0.721803
2    festival    0.112219
3       smile    0.112219
4    invasion    0.109448
5  suggestion    0.109448
6     visited    0.103906
7      dieter    0.101136
8    attended    0.101136
9         prc    0.101136

### Address 36362

       token  similarity
0   contains    0.593153
1   pictures    0.575809
2       rude    0.560778
3  expansion    0.129499
4   bullying    0.122562
5     report    0.114468
6    playboy    0.105218
7  computers    0.101749
8   arranger    0.098281
9        ana    0.097124

### Address 10876

            token  similarity
0        contains    0.721803
1           which    0.721803
2       relegated    0.117761
3        whatever    0.114990
4            1816    0.114990
5       expansion    0.112219
6        promised    0.106677
7            1971    0.106677
8         streams    0.103906
9  reconciliation    0.103906